extends layout

block content
  div(class="main-container")
    div.header
      h1.blue-text= title
      a(href= category.url+'/update')
        img.icon(src="/images/edit.png")
      a(href= category.url+'/delete')
        img.icon(src="/images/delete.png")
    div(class="ingredient-list-container")
      if ingredients_list.length
        each ingredient in ingredients_list
          div.ingredient-container
            if ingredient && ingredient.img
              img.list-img(src=ingredient.img)
            else
              img.list-img(src="/images/pusheen.jpg")
            a(href= ingredient.url)
              p.blue-text= ingredient.name
            div.ingredient-category
            if ingredient && ingredient.category && ingredient.category.length > 0
              each category in ingredient.category
                a(href=category.url)
                  p.purple-text= category.name
            else
              p Other
            p.green-text $#{ingredient.price}
            p.yellow-text Quantity: #{ingredient.quantity}




